@import '../../scss/init';


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 13rem;

  .arrow {
    background: var(--cellBg);
  }
}

.control-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 2.25rem);
  height: 100%;

  .btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: min-content;
    white-space: nowrap;
    height: calc(#{$rowHeightHeader} / 2);
    padding: 0rem 1rem 0 10%;
    border: 1px solid var(--cellBorder);
    border-radius: $borderRadius;
    color: var(--groupText);
    font-weight: var(--fwL);
    font-family: inherit;
    font-size: 0.8rem;
    background: var(--cellBg);
    overflow: hidden;
    outline: none;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      height: 100%;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: transparent;
      bottom: 0px;
      left: 0;
      transition: 400ms ease-in-out;
    }
    
    &:hover::after  {
      transition: 200ms ease-in-out;
      background: var(--semiHighlight);
    }

    &:first-of-type {
      margin-bottom: 0.5rem;
      
      svg {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 0.5rem;
      }
    }

    &:last-of-type svg {
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.7rem;
    }
    svg {
      color: var(--highlight);
    }
  }

  .menu-container {
    position: absolute;
    width: max-content;
    top: 100%;
    left: 0;
    z-index: 10;
    background: var(--groupBg);
    border-radius: $borderRadius;
    transform-origin: top;
    padding: 0 0.35rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.07),
    0 0.2rem 0.5rem rgba(0, 0, 0, 0.07),
    0 0.4rem 1rem rgba(0, 0, 0, 0.07);

    li {
      width: max-content;
      min-width: 100%;
      margin: 0.35rem 0;
      // padding: calc(#{$cellMarginS / 2}) 0;
      background: var(--cellBg);
      border-radius: $borderRadius;

      .btn {
        min-width: 100%;
        margin: 0;
        border: 0;
        background: transparent;
        // border-radius: $borderRadiusS;
      }

      // &:first-of-type .btn {
      //   border-radius: $borderRadius $borderRadius $borderRadiusS $borderRadiusS;
      // }
      // &:last-of-type .btn {
      //   border-radius: $borderRadiusS $borderRadiusS $borderRadius $borderRadius;
      // }
    }
  }
}